@page "/medicaments/delete/{id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation

@using PharmacyApp.Shared.Dto;


<h3>Ви впевнені що хочете видалити цей медикамент?</h3>
<hr />
<EditForm Model="Id" OnSubmit="DeleteMedicaments">
    <div class="col-12">
        <button type="submit" class="btn btn-sm btn-outline-danger">Так</button>
    </div>
</EditForm>
@code {
    [Parameter]
    public int Id { get; set; }

    public async Task DeleteMedicaments()
    {
        var result = await Http.DeleteAsync($"api/Medicaments/{Id}");
        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/");
        }
    }

}